<html lang="en">
  <head>
    <!-- ResuME icons and page title -->
    <title>ResuME Login</title>
    <!-- <link rel="icon" size="104*86" href="images/icon.png">
    <link rel="stylesheet" type="text/css" href="style.css"> -->
  <head>
  <body>
    <form method="POST" action='/login' accept-charset="UTF-8">
      <dl>
        <dt>{{ form.email.label }}
        <dd>{{ form.email }}
        <dt>{{ form.password.label }}
        <dd>{{ form.password }}
        <dt>{{ form.submit }}
      </dl>
    </form>
  </body>
</html>
