<html lang="en">
  <head>
    <!-- ResuME icons and page title -->
    <title>ResuME Profile</title>
    <!-- <link rel="icon" size="104*86" href="images/icon.png">
    <link rel="stylesheet" type="text/css" href="style.css"> -->
  <head>
  <body>
    <form method="POST" action='/profile' accept-charset="UTF-8">
      <dl>
        <dt>{{ form.first_name.label }}
        <dd>{{ form.first_name }}
        <dt>{{ form.last_name.label }}
        <dd>{{ form.last_name }}
        <dt>{{ form.major.label }}
        <dd>{{ form.major }}
        <dt>{{ form.ethnicity.label }}
        <dd>{{ form.ethnicity }}
        <dt>{{ form.description.label }}
        <dd>{{ form.description }}
        <dt>{{ form.address.label }}
        <dd>{{ form.address }}
        <dt>{{ form.summary.label }}
        <dd>{{ form.summary }}
        <dt>{{ form.bfemail.label }}
        <dd>{{ form.bfemail }}
        <dt>{{ form.bfpassword.label }}
        <dd>{{ form.bfpassword }}
        <dt>{{ form.educations.label }}
        <dd>{{ form.educations }}
        <dt>{{ form.experiences.label }}
        <dd>{{ form.experiences }}
        <dt>{{ form.submit }}
      </dl>
    </form>
  </body>
</html>
