<html lang="en">
  <head>
    <!-- ResuME icons and page title -->
    <title>ResuME Profile</title>
    <!-- <link rel="icon" size="104*86" href="images/icon.png">
    <link rel="stylesheet" type="text/css" href="style.css"> -->
  <head>
  <body>
    <form method="POST" action='/profile' accept-charset="UTF-8">
      <input type="first_name" placeholder="first name" name="first_name", required>
      <input type="last_name" placeholder="last name" name="last_name", required>
      <input type="major" placeholder="major" name="major", required>
      <input type="description" placeholder="description" name="description", required>
      <input type="bfemail" placeholder="Bear Founder email" name="bfemail", required>
      <input type="bfpassword" placeholder="Bear Founder password" name="bfpassword", required>
      <input type="submit" name="action" value="update">
    </form>
  </body>
</html>
